<!DOCTYPE html>
<html>
    <head>
        <title>My Homepage</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
    <body class="roboto-mono-400">
        <div class="wrapper">
        <div class="container">
            <div class="box header">
                <div>one</div>
                <div>one</div>  
                <div>one</div>                   
            </div>
            <div class="box main">
                <div class="box">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper
                    mauris in nunc eleifend, et dictum quam commodo. Proin elementum bibendum
                    auctor. Vivamus risus massa, vulputate et ex ut, finibus dignissim nulla. Lorem 
                    ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat nisi vel 
                    fringilla auctor. Nullam ornare purus purus. Vivamus hendrerit neque et ornare 
                    mattis. Mauris mollis leo sapien, ut tincidunt justo porttitor aliquam. Fusce 
                    pulvinar ipsum a pharetra placerat.

                </div>
                <div class="box">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper
                    mauris in nunc eleifend, et dictum quam commodo. Proin elementum bibendum
                    auctor. 
                </div>  
                <div class="box">
                    Mauris mollis leo sapien, ut tincidunt justo porttitor aliquam. Fusce 
                    pulvinar ipsum a pharetra placerat.
                </div>                 
            </div>
            <div class="box sidebar">
                sidebar                
            </div>
            <div class="box footer">
                footer                
            </div>
        </div>
        </div>
    </body>
</html>